<div class="box mt-5">
    <div class="flex-container">
        <div id="{{ plot_info[0] }}" class="plot"></div>
        <i class="drag-handle" data-lucide="grip"></i>
        <i class="expand-icon" data-lucide="expand"></i>
    </div>
    <div id="{{ plot_info[1] }}"></div>
    <div class="content">
        <script>
            console.log("HEY");
            console.log("{{ explainations }}");
        </script>
        <h2>{{ explainations.get(plot_info[0]).title }}</h2>
        <p>{{ explainations.get(plot_info[0]).content }}</p>
        {% if explainations.get(plot_info[0]).formula != "" %}
        <div class="formula">
            {{ explainations.get(plot_info[0]).formula | safe }}
        </div>
        {% endif %}
    </div>
    <script>
        var previousValue = 1;
        var dataLength = {{ trajectory_length }};
        var plotData_{{ plot_info[1] }} = {{ plot_info[2] | safe }};
        var config = {
          responsive: true,
          autosize: true
        };
        
        // Create layout options to better fit the container
        var layout = {
          margin: { t: 10, r: 10, l: 50, b: 50 },
          autosize: true
        };
        // Initial plot with the main data
        Plotly.newPlot('{{ plot_info[1] }}', plotData_{{ plot_info[1] }}, layout, config).then(() => {
      // Force a resize after plot is created to ensure it fills the container
        setTimeout(() => Plotly.Plots.resize(document.getElementById('{{ plot_info[1] }}')), 100);
        });
        // window.addEventListener('resize', function() {
        //    Plotly.Plots.resize(document.getElementById('{{ plot_info[1] }}'));
        //});
        document.getElementById('frame-slider').addEventListener('input', function() {
          var sliderValue = parseInt(this.value);
          console.log(sliderValue);
          console.log(dataLength);
          if (previousValue === 1) {
            // Code to execute if the function is called for the first time
            var newMarkerTrace = {
              x: [sliderValue],
              y: [plotData_{{ plot_info[1] }}.data[0].y._inputArray[sliderValue]],
              legendrank: 2,
              type: 'scattergl',
              mode: 'markers',
              marker: {
                color: 'red',
                size: 12
              },
              name: 'Frame Marker'
            };
            Plotly.addTraces('{{ plot_info[1] }}', newMarkerTrace);
          } else {
            var update = {
              'x': [[sliderValue]],
              'y': [[plotData_{{ plot_info[1] }}.data[0].y._inputArray[sliderValue]]]
            };
            Plotly.restyle('{{ plot_info[1] }}', update, [1]); // Update the second trace (index 1)
          }

          previousValue = sliderValue;
        });
    </script>

    <div
        style="
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 10px;
        "
    >
        <a
            href="{{ url_for('download_plot_data', plot_id=plot_info[0], session_id=session_id) }}"
            class="button is-link"
            >Download {{ plot_info[0] }} Data</a
        >
        <a
            href="{{ url_for('download_plot', plot_id=plot_info[0], session_id=session_id) }}"
            class="button is-link"
            >Download Plot</a
        >
    </div>
</div>
